.button-1{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
}
.button-2{
    background-color: gray;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 20px;
    font-size: 20px;
}
.button-3{
    background-color: green;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 15px;
}
.button-4{
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 15px;
}
.button-5{
    background-color: yellow;
    color: black;
    border-radius: 5px;
    border: none;
    padding: 15px;
}